<!DOCTYPE html>
<!-- html table generated in R 3.6.3 by xtable 1.8-4 package -->
<!-- Wed May 13 14:51:25 2020 -->
 <html>
    <head>
        <link rel="icons" href="fonts/favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <title>CONFIA QUE O PAI É BRABO</title>
    </head>
    <body>
        <h1>Tarefas do 2º Médio</h1>
        <div class="contents">
            <ul>
                <li>
                    Segunda - 08/06
                    <span>
                        Inglês
                    </span>
                </li>
                <li>
                    Quarta - 10/06
                    <span>
                        Física
                    </span>
                </li>
                <li>
                    Sexta - 12/06
                    <span>
                        História <br>
                        Sociologia
                    </span>
                </li>
                <li>
                    Sabado - 13/06
                    <span>
                        Ed. Física <br>
                        Filosofia <br>
                        Biologia
                    </span>
                </li>
                <li>
                    Domingo - 14/06
                    <span>
                        Geografia <br>
                        Matemática <br>
                        Quimica
                    </span>
                </li>
            </ul>
        </div>
        <div  align="center" class="rede">
            <h1>CONFIA QUE O PAI É BRABO</h1>
            <div class="rede-text">
                <p>Made by: <i>Salandin</i></p>
                <div class="rede-links">
                    <a href="https://github.com/SaLandini">Git</a>
                    <a href="https://www.instagram.com/salandin.xr/?hl=pt-br">Insta</a>
                    <a href="https://twitter.com/RafaSalandinM">Twitter</a>
                </div>
            </div>
        </div>
    </body>   
</html>